@import "../node_modules/bootstrap/scss/functions";

$primary: rgba(251, 88, 48, 1);
$secondary: rgba(208, 2, 28, 1);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

$font-sizes: map-merge(
  $font-sizes,
  (
    7: $font-size-base * 0.8,
    8: $font-size-base * 0.7,
  )
);

$utilities-bg-colors: map-merge(
  $utilities-bg-colors,
  (
    "line": #f97160,
    "gray-200": $gray-200,
  )
);

$utilities-text-colors: map-merge(
  $utilities-text-colors,
  (
    "gray-700": $gray-700,
  )
);

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/spinners";

$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                "50px": 50px,
                "2px": 2px,
                "85": 80%,
              )
            ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                "80px": 80px,
              )
            ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "max-width":
      map-merge(
        map-get($utilities, "max-width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "max-width"), "values"),
              (
                85: 85%,
              )
            ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "text-decoration":
      map-merge(
        map-get($utilities, "text-decoration"),
        (
          state: hover,
        )
      ),
  )
);

@import "../node_modules/bootstrap/scss/utilities/api";

// @import "../node_modules/bootstrap/scss/bootstrap";

.vertical-separate-line {
  height: 20px;
  border-left: 1px solid rgb(204, 204, 204);
}
